<!DOCTYPE html>
<html lang="{{@site.locale}}" class="scroll-smooth">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

{{> "header"}}

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot text-xl md:text-2xl mt-16">
  <div class="purple-gradient w-full h-0.5"></div>
  <div class="gh-container flex flex-col md:flex-row justify-between items-center md:w-[720px] lg:w-full py-4">
    <section class="copyright my-3 md:my-0 md:w-1/3 justify-start"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
    <div class="footer-social my-3 md:my-0 flex md:w-1/3 justify-center">
      <a class="block w-8 h-8 md:w-10 md:h-10" href="https://github.com/Sharmaz">{{> "icons/github"}}</a>
      <a class="block w-8 h-8 md:w-10 md:h-10" href="https://www.linkedin.com/in/ivanroblesalonso/">{{> "icons/linkedin"}}</a>
      <a class="block w-8 h-8 md:w-10 md:h-10" href="https://twitter.com/elSharmaz">{{> "icons/twitter"}}</a>
    </div>
    <div class="gh-foot-meta my-3 md:my-0 md:w-1/3 flex justify-end">
      <a href="#" class="flex justify-center items-center w-10 h-10 border-solid border-2 border-dark-orchid rounded-full -rotate-90" >
        <div class=" w-4 h-4 flex justify-center items-center">
          {{> "icons/arrow-right"}}
        </div>
      </a>
    </div>
  </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
