{{!< default}}
{{#post}}
  <article class="py-[8vmin] page-content {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
      <header class="pb-8 gh-canvas md:w-[720px] mx-4 md:mx-auto">
        <h1 class="font-bold text-3xl md:text-5xl text-left">{{title}}</h1>
          {{#if feature_image}}
            <figure class="w-full mt-[8vmin]">
              <img class="ms-auto me-auto w-full" src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                  <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
          {{/if}}
      </header>
    {{/match}}
    <div class="gh-content gh-canvas md:w-[720px] mx-4 md:mx-auto">
      {{content}}
    </div>
  </article>
{{/post}}
