{{!< default}}
{{#post}}
<article class="py-[8vmin] {{post_class}}">
  <header class="pb-[8vmin] gh-canvas">
    <div class="post-card-tags flex flex-wrap md:w-[720px] mx-4 md:mx-auto mb-8">
      {{#foreach tags limit="3"}}
      <div class="post-card-primary-tag {{#has index=" 0"}} tag-red{{/has}} {{#has index="1" }} tag-orange{{/has}}
        {{#has index="2" }} tag-purple{{/has}} px-[2px] flex justify-center align-middle text-center">
        <a href="{{url}}" class="block bg-background px-4 rounded-full my-[2px]">
          {{name}}
        </a>
      </div>
      {{/foreach}}
    </div>
    <h1 class="text-3xl md:text-5xl md:w-[720px] mx-4 md:mx-auto">{{title}}</h1>
    {{#if custom_excerpt}}
    <p class="md:text-xl md:w-[720px] mx-4 md:mx-auto text-left mt-8">{{custom_excerpt}}</p>
    {{/if}}
    <section class="flex justify-start md:w-[720px] mx-4 md:mx-auto mt-8">
      <ul class="author-list w-auto mx-0">
        {{#foreach authors}}
        <li class="author-list-item">
          <a href="{{url}}" class="author-avatar">
            <img class="w-[52px] rounded-full" src="{{img_url profile_image size=" xs"}}" alt="{{name}}" />
          </a>
        </li>
        {{/foreach}}
      </ul>
      <div class="text-base md:text-lg text-left ml-4">
        <h4 class="author-name font-bold">{{authors}}</h4>
        <div>
          <time datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
          {{#if reading_time}}
          <span>&bull;</span> {{reading_time}}
          {{/if}}
        </div>
      </div>
    </section>
    {{#if feature_image}}
    <figure class="w-full mt-[8vmin] lg:w-[1200px] md:mx-auto">
      <picture>
        <source srcset="
                {{img_url feature_image size=" xxs" format="avif" }} 30w, {{img_url feature_image size="xs"
          format="avif" }} 100w, {{img_url feature_image size="s" format="avif" }} 300w, {{img_url feature_image
          size="m" format="avif" }} 600w, {{img_url feature_image size="l" format="avif" }} 1200w, {{img_url
          feature_image size="xl" format="avif" }} 2000w" sizes="(min-width: 1200px) 1200px, 90vw" type="image/avif">
        <source srcset="
                {{img_url feature_image size=" xxs" format="webp" }} 30w, {{img_url feature_image size="xs"
          format="webp" }} 100w, {{img_url feature_image size="s" format="webp" }} 300w, {{img_url feature_image
          size="m" format="webp" }} 600w, {{img_url feature_image size="l" format="webp" }} 1200w, {{img_url
          feature_image size="xl" format="webp" }} 2000w" sizes="(min-width: 1200px) 1200px, 90vw" type="image/webp">
        <img class="ms-auto me-auto w-full" srcset="
                {{img_url feature_image size=" xxs"}} 30w, {{img_url feature_image size="xs" }} 100w, {{img_url
          feature_image size="s" }} 300w, {{img_url feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
          1200w, {{img_url feature_image size="xl" }} 2000w" sizes="(min-width: 1200px) 1200px, 90vw"
          src="{{img_url feature_image size=" l"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
      </picture>
      {{#if feature_image_caption}}
      <figcaption>{{feature_image_caption}}</figcaption>
      {{/if}}
    </figure>
    {{/if}}
  </header>
  <div class="gh-content gh-canvas md:w-[720px] mx-4 md:mx-auto">
    {{content}}
  </div>
  </article>
  {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}
    {{#if more_posts}}
      <aside class="mt-24 md:w-[720px] lg:w-[1200px] mx-4 md:mx-auto">
        <h3 class="text-xl font-bold my-4">Otros Posts...</h3>
        <div class="grid gap-[4vmin] md:grid-cols-4 lg:grid-cols-6">
          {{#foreach more_posts}}
            {{> "card"}}
          {{/foreach}}
        </div>
      </aside>
    {{/if}}
  {{/get}}
{{/post}}
